<div id="page-wrapper" class="text-center">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-heading" style="background-color: #337ab7; color: white">
        <h1>Monitoring Deposit</h1>
      </div>
      <div class="panel panel-primary" style="border: none; margin-top: 5rem; display: block; text-align: center">
        <div class="panel-heading monitorindepositetatadminpdvTitle center-block">
          <h3>Bilan Déposit</h3>
          <div style="background-color: white" *ngIf="barChartLabels.length!=0">
            <canvas baseChart #baseChart3="base-chart" height="80"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"></canvas>
          </div>
        </div>
        <div class="panel-body">
          <div class="row"  *ngIf="monitoringAdminpdvDeposit">
            <div style="width: 5%; display: inline-block"></div>
            <div style="width: 20%; display: inline-block">
              <p><strong class="monitorindepositetatadminpdvNbre">{{ currencyFormat(monitoringAdminpdvDeposit.depositinitial) }} FCFA</strong></p>
              <p class="monitorindepositetatadminpdvBorder" ><strong class="monitorindepositetatadminpdvText">Déposit de base</strong></p>
            </div>
            <div style="width: 10%; display: inline-block"></div>
            <div style="width: 20%; display: inline-block">
              <p><strong class="monitorindepositetatadminpdvNbre">{{ currencyFormat(monitoringAdminpdvDeposit.etatdeposit - monitoringAdminpdvDeposit.commission)}} FCFA</strong></p>
              <p class="monitorindepositetatadminpdvBorder"><strong class="monitorindepositetatadminpdvText">Etat Déposit</strong></p>
            </div>
            <div style="width: 10%; display: inline-block"></div>
            <div style="width: 20%; display: inline-block">
              <p><strong class="monitorindepositetatadminpdvNbre">{{ currencyFormat(monitoringAdminpdvDeposit.commission) }} FCFA</strong></p>
              <p class="monitorindepositetatadminpdvBorder"><strong class="monitorindepositetatadminpdvText">Commission</strong></p>
            </div>
          </div>
        </div>
        <div class="monitorindepositetatadminpdvCover"></div>
      </div>

      <div class="panel panel-primary" style="border: none; margin-top: -9rem; display: block; text-align: center">
        <div class="panel-heading monitorindepositetatadminpdvTitle center-block" style="margin-bottom: 2rem">
          <h3>IBAN</h3>
        </div>
        <ul class="nav nav-tabs nav-justified" style="text-align: center; display: block; margin: 0 auto">
          <li class="activeatag"><a href="#retraitiban" data-toggle="tab">Retrait</a></li>
          <li class="activeatag active"><a href="#depotiban" data-toggle="tab">Dépot</a></li>
<!--           <li class="activeatag"><a data-toggle="tab">Dépot</a></li>  -->
        </ul>
        <div class="tab-content"  style="margin-top: 2rem">
          <div class="tab-pane fade in center-block" id="retraitiban">
            <button class="btn btn-success text-center" (click)="this.selectdemanretrait=true">Demander un retrait</button>
            <div class="row" *ngIf="selectdemanretrait"  style="margin-top: 1rem">
              <input name="montant" type="number" placeholder="Entrez le montant à retirer" [(ngModel)]="montant" class="form-control col-sm-3" required="" />
              <button class="col-sm-3 btn btn-success" *ngIf="selectdemanretrait" [disabled]="!montant" (click)="validerdmde()" >Valider</button>
              <div *ngIf="ibanExcessif" class="alert col-sm-3">Le Montant que vous demandé est supèrieur au solde de votre deposit. Veuiller revoir la saisie!</div>
            </div>
            <h2 class="alert" *ngIf="euppna"> Vous ne pouvez retirer un montant supèrieur à votre déposit</h2>
          </div>
          <div class="tab-pane fade in active text-center" id="depotiban" >
            <button class="btn btn-success" (click)="showdepositeModal()">Faire un dépot</button>
            <div class="row"  style="margin-top: 1rem" *ngIf="listedeposit">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th style="text-align: center;">Date demande</th>
                  <th style="text-align: right;">Montant dépot</th>
                  <th style="text-align: center;">Representant BBS</th>
                  <th style="text-align: center;">Etat</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of listedepositsencours; let i = index " [ngStyle]="{'color': 'black', 'background-color': item.accepteur=='attente'?'red':(item.accepteur!='attente' && item.etatdemande==0)?'orange':(item.etatdemande==1)?'blue':(item.etatdemande==2)?'pink':'green'}">
                  <td scope="row">{{item.datedemande}}</td>
                  <td style="text-align: right">{{currencyFormat(item.montantdemande)}}</td>
                  <td>
                    <div *ngIf="item.representantbbs=='attente'">{{item.representantbbs}}</div>
                    <a *ngIf="item.representantbbs!='attente'" style="cursor: pointer" (click)="showapercuPhotoComModal(item)">{{item.representantbbs}}</a>
                  </td>
                  <td style="text-align: left">{{item.statusetatdemande}} <span *ngIf="item.etatdemande==1" class="pull-right" (click)="imprimerdecharge(item)"><button type="button" class="btn btn-secondary btn-circle btn-sm" title="Imprimer décharge" ><i class="fa fa-print"></i></button></span></td>
                </tr>
                <tr>
                  <td colspan="5" style="text-align: center; margin-top: 1rem">
                    <u *ngIf="listedepositsvalide.length!=0" style="cursor: pointer" (click)="showvoirplusdedemandeModal()" title="Voir plus de depot">Voir dépots validés</u>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #depositeModal="bs-modal"  class="modal fade in" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <p class="modal-title">DEPOSIT</p>
      </div>
      <div class="modal-body container">
        <div class="row">
          <div class="col-xs-6" >
            <div class="form-group">
              <label>montant du deposit :</label>
              <input type="number" [(ngModel)]="montantdeposit" min="0" placeholder="montant" class="form-control" />
            </div>

            <div class="form-group">
              <label>Mode de versement</label>
                    <select class="form-control input-sm" [(ngModel)]="modeversement">
                      <option>Direct</option>
                      <option>CPS</option>
                      <option>CBAO</option>
                    </select>
<!-- 
             <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg">
 -->
            </div>

          </div>
          <div class="col-sm-offset-1 col-xs-3">
            <img style="width:150px;height:150px" src="assets/bbs.png"  class="img-responsive" alt="photo de l'agent" />
          </div>
        </div>
        <div>
          Vous voulez faire un dépot de <b>{{ montantdeposit?currencyFormat(montantdeposit):'?' }} FCFA </b>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="montantdeposit==undefined || montantdeposit<1" (click)="validerdeposite()" class="btn btn-success pull-left">valider</button>
        <button type="button" (click)="hidedepositeModal()" class="btn btn-danger">fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- modal deposit -->
<div bsModal #dechargeModal="bs-modal"  class="modal fade in" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header" *ngIf="agentcommercial">
        <div class="row">
          <img class="col-lg-3 ol-md-3 col-sm-3 col-xs-3" style="width:100px" src="assets/bbs.png" alt="logo bbs" />
          <img class="pull-right col-lg-3 ol-md-3 col-sm-3 col-xs-3" style="width:100px" src="assets/bbs.png" alt="photo de l'agent" />
        </div>
        <p style="background-color:red" class="modal-title"><b style="position:absolute;left:275px">DECHARGE</b></p><br>
      </div>
      <div class="modal-body row">
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10" >
          <p>
            Nous certifions,<br>
            BBS Invest Sarl au capital de 7 000 000 FCFA, dont le siége social est situé aux HLM GRAND MEDINE Villa 159,immatriculé au registre du commerce sous le numero -SN DKR 2014 -NINEA : 004999978,
            representé ici par {{agentcommercial}} en sa qualite de conseiller commercial(e), déclarons avoir reçu la somme de {{currencyFormat(montantdeposit)}} FCFA, de........... representé par Mme/Mlle/Mr ..............
            <br><br>
            Ce montant perçu en guise de caution,permet au point de vente d'utiliser les services proposée par la plateforme SENTOOL mise à la diposition par BBS Invest .
            <br><br>
            en foi de quoi, cette présente décharge à été établie pour servir et valoir ce que de droit .
            <br><br>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="fermer" (click)="hidedechargeModal()" class="btn btn-danger" />
      </div>
    </div>
  </div>
</div>
<!-- modal deposit
<div bsModal #dechargeModal="bs-modal"  class="modal fade in" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header" *ngIf="agentcommercial">
        <div class="row">
          <img class="col-lg-3 ol-md-3 col-sm-3 col-xs-3" style="width:100px" src="assets/bbs.png" alt="logo bbs" />
          <img class="pull-right col-lg-3 ol-md-3 col-sm-3 col-xs-3" style="width:100px" src="assets/bbs.png" alt="photo de l'agent" />
        </div>
        <p style="background-color:red" class="modal-title"><b style="position:absolute;left:275px">DECHARGE</b></p><br>
      </div>
      <div class="modal-body row">
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10" >
          <p>
            Nous certifions,<br>
            BBS Invest Sarl au capital de 7 000 000 FCFA, dont le siége social est situé aux HLM GRAND MEDINE Villa 159,immatriculé au registre du commerce sous le numero -SN DKR 2014 -NINEA : 004999978,
            representé ici par {{agentcommercial}} en sa qualite de conseiller commercial(e), déclarons avoir reçu la somme de {{currencyFormat(montantdeposit)}} FCFA, de........... representé par Mme/Mlle/Mr ..............
            <br><br>
            Ce montant perçu en guise de caution,permet au point de vente d'utiliser les services proposée par la plateforme SENTOOL mise à la diposition par BBS Invest .
            <br><br>
            en foi de quoi, cette présente décharge à été établie pour servir et valoir ce que de droit .
            <br><br>
            NB :Merci d'envoyer une copie de cette presente décharge a l'adresse e-mail suivante :bbsinvest@bbstvnet.com pour un rechargement effectif .
            <br>
            Fait a Dakar le ................... en deux exemplaire.<br>
            <span class="row">
								 <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><b>Le point de Vente </b></span>
								 <span class="col-lg-2 ol-md-2 col-sm-2 col-xs-2 pull-right"><b>BBS Invest</b></span>
							 </span>
          </p>
          <input type="button" (click)="validerdeposite()" value="valider" class="btn btn-success form-control" />
          <input type="button" value="annuler" class="btn btn-danger form-control"  />
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="fermer" (click)="hidedechargeModal()" class="btn btn-danger" />
      </div>
    </div>
  </div>
</div>
 -->

<!-- modal deposit -->
<div bsModal #apercudechargeModal="bs-modal"  class="modal fade in" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <div class="row">
          <img class="col-lg-3 ol-md-3 col-sm-3 col-xs-3" style="width:100px" src="assets/bbs.png" alt="logo bbs" />
          <img class="pull-right col-lg-3 ol-md-3 col-sm-3 col-xs-3" style="width:100px" src="assets/bbs.png" alt="photo de l'agent" />
        </div>
        <p style="background-color:red" class="modal-title"><b style="position:absolute;left:275px">DECHARGE</b></p><br>
      </div>
      <div class="modal-body row" *ngIf="viewonedetaildeposit">
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10" >
          <table class="table table-hover">
            <thead>
            <tr style="text-align: right;">
              <th scope="col">Date demande</th>
              <th scope="col">Montant dépot</th>
              <th scope="col">Representant BBS</th>
              <th scope="col">Etat</th>
              <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listedeposit; let i = index " [ngStyle]="{'color': 'black', 'background-color': item.accepteur=='attente'?'red':(item.accepteur!='attente' && item.etatdemande==0)?'orange':(item.etatdemande==1)?'blue':(item.etatdemande==2)?'pink':'green'}">
              <td scope="row">{{item.datedemande}}</td>
              <td style="text-align: right">{{currencyFormat(item.montantdemande)}}</td>
              <td>
                <div *ngIf="item.representantbbs=='attente'">{{item.representantbbs}}</div>
                <a *ngIf="item.representantbbs!='attente'" style="cursor: pointer" (click)="showapercuPhotoComModal(item)">{{item.representantbbs}}</a>
              </td>
              <td style="text-align: left">{{item.statusetatdemande}} <span *ngIf="item.etatdemande==1" class="pull-right" (click)="imprimerdecharge(item)"><button type="button" class="btn btn-secondary btn-circle btn-sm" title="Imprimer décharge" ><i class="fa fa-print"></i></button></span></td>
              <td style="text-align: center;">
                <button *ngIf="item.etatdemande!=0" type="button" class="btn btn-success btn-circle btn-sm" (click)="showapercudechargeModal(item)" title="Voir decharge"><i class="fa fa-search-plus"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="5" style="text-align: center;">
                <a *ngIf="listedeposit.length!=0" style="cursor: pointer" (click)="showvoirplusdedemandeModal()" title="Voir plus de depot">Voir plus</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="fermer" (click)="hideapercudechargeModal()" class="btn btn-danger" />
      </div>
    </div>
  </div>
</div>

<div bsModal #apercuPhotoComModal="bs-modal"  class="modal fade in" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-body row">
        <img class="pull-right col-lg-3 ol-md-3 col-sm-3 col-xs-3" style="width:100px" src="assets/bbs.png" alt="photo de l'agent" />
      </div>
    </div>
  </div>
</div>

<div bsModal #voirplusdedemandeModal="bs-modal"  class="modal fade in" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <p style="background-color:red" class="modal-title"><b style="position:absolute;left:275px">Dépots validés</b></p>
      </div>
      <div class="modal-body row">
        <table class="table table-hover">
          <thead>
          <tr style="text-align: right;">
            <th scope="col">Date demande</th>
            <th scope="col">Montant dépot</th>
            <th scope="col">Representant BBS</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listedepositsvalide; let i = index " [ngStyle]="{'text-align': 'right', 'color': 'black', 'background-color': item.accepteur=='attente'?'red':(item.accepteur!='attente' && item.etatdemande==0)?'orange':(item.etatdemande==1)?'blue':(item.etatdemande==2)?'pink':'green'}">
            <td scope="row" style="text-align: left">{{item.datedemande}}</td>
            <td style="text-align: left">{{currencyFormat(item.montantdemande)}}</td>
            <td style="text-align: left">{{item.representantbbs}} <span class="pull-right" (click)="imprimerdecharge(item)"><button type="button" class="btn btn-secondary btn-circle btn-sm" title="Imprimer décharge" ><i class="fa fa-print"></i></button></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>
