
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            COMMERCIAL
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Nav tabs -->  
            <ul class="nav nav-pills">
                <li class="active"><a href="#home-pills" data-toggle="tab">Fichier</a>
                </li>
                <li><a id="elec" href="#profile-pills" data-toggle="tab">Rendez-vous</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade col-sm-12 col-xs-12 in active" id="home-pills">
	                <div class="panel-body">
	                	  <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="fichier |filtrefichier:filtre" #fop="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                                <thead>
                                 <label>Zone <select class="form-control input-sm" >
		                             <option *ngFor="let zones of zone">{{zones}}</option>
                                    <!-- <option >Pikine</option>
                                    <option >Rufisque</option>
                                    <option >Yoff</option>
                                    <option >Guédiawaye</option>
                                    <option >Parcelles</option> -->
		                            </select>
		                         </label>
 
                                          
                                    <tr>
                                        <th colspan="3" style="padding-right: 3rem ;">
                                            Rechercher :
                                            <input class="form-control" [(ngModel)]="filtre"/>
                                        </th>
                                      		<button class="btn btn-success" style="margin-left: 10rem;" (click)="enregistrer()">Enregistrer</button>
                                           
                                    </tr>


                                    <tr>

                                        <th><mfDefaultSorter >Choisir</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="nom">Nom Opérateur</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="prenom">Prénom Opérateur</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="tel">Téléphone</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="adr">Adresse</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="qualification">Qualification</mfDefaultSorter></th>
                                   </tr>
                            
                                </thead>
                                <tbody *ngIf="this.fichier">
                                <tr *ngFor="let fich of fop.data">
                                    <input type="checkbox" [(ngModel)]="fich.choix">
                                    <td>{{fich.nom}}</td>
                                    <td>{{fich.prenom}}</td>
                                    <td>{{fich.tel}}</td>
                                    <td>{{fich.adr}}</td>
                                    <td>
                                   <select class="form-control input-sm" >
			                            <option >Promesse</option>
			                            <option >Injoignable</option>
			                            <option >Voyage</option>
			                            <option >Insatisfait</option>
			                            <option >Assistance technique</option>
			                            <option >RV</option>
       		                        </select>
       		                        </td>


                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
	                           
	                          
	                 </div>
                       
               
                   
                   
                </div>
	                <div class="tab-pane fade col-sm-12 col-xs-12" id="profile-pills">
	                  <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="rv|filtrerv:filtre" #fops="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                                <thead>
                                 <label>Zone <select class="form-control input-sm" >
		                            <option *ngFor="let zones of zone">{{zones}}</option>
                                    <!-- <option >Pikine</option>
                                    <option >Rufisque</option>
                                    <option >Yoff</option>
                                    <option >Guédiawaye</option>
                                    <option >Parcelles</option> -->
		                            </select>
		                         </label>
 
                                    <tr>
                                        <th colspan="3" style="padding-right: 3rem ;">
                                            Rechercher :
                                            <input class="form-control" [(ngModel)]="filtre"/>
                                        </th>
                                      		
                                    </tr>


                                    <tr>

                                        <th><mfDefaultSorter by="nom">Nom Opérateur</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="prenom">Prénom Opérateur</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="tel">Téléphone</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="adr">Adresse</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="montant">Nom & Prénom Agent</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="montant">Valider</mfDefaultSorter></th>
                                   </tr>
                            
                                </thead>
                                <tbody *ngIf="this.rv">
                                <tr *ngFor="let rv of fops.data">
                                    <td>{{rv.nom}}</td>
                                    <td>{{rv.prenom}}</td>
                                    <td>{{rv.tel}}</td>
                                    <td>{{rv.adr}}</td>
       		                        <td>{{rv.nomag}}</td>
       		                        <td><button ([ngModel])="valid" class="btn btn-success" style="margin-left: 10rem;" (click)="valider()">Valider</button>


                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
	                           
	               
	                           
	                            
	                </div>



        <!-- /.panel-body -->
    		</div>

    <!-- /.panel -->

		</div>



