
label{
    font-stretch: extra-condensed;
    font-variant: common-ligatures;
    font-size: 2rem;
    font-weight: 600;
    color: #337ab7 ;
}

select:focus{
  border-radius: 24px !important ;
  border-color: orange !important;
}

select:active{
  border-radius: 24px;
  border-color: orange;
}

select{
  border-radius: 24px;
  border-color: orange;
  width: 65rem ;
}


.form-signin

{

    max-width: 330px;

    padding: 15px;

    margin: 0 auto;

}

.form-signin .form-signin-heading, .form-signin .checkbox

{

    margin-bottom: 10px;

}

.form-signin .checkbox

{

    font-weight: normal;

}

.form-signin .form-control

{

    position: relative;

    font-size: 16px;

    height: auto;

    padding: 10px;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}

.form-signin .form-control:focus

{

    z-index: 2;

}

.form-signin input[type="text"]

{

    margin-bottom: -1px;

    border-bottom-left-radius: 0;

    border-bottom-right-radius: 0;

}

.form-signin input[type="password"]

{

    margin-bottom: 10px;

    border-top-left-radius: 0;

    border-top-right-radius: 0;

}

.account-wall

{
    background-image: url('/assets/bga.png') ;

    margin-top: 0px;

    padding: 40px 0px 20px 0px;

    background-color: #f7f7f7;

    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.login-title

{

    color: #555;

    font-size: 18px;

    font-weight: 400;

    display: block;

}

.figcontainer{    
  display: block;
}

.figcontainer .btn{    
    color: #fff;
}

.figureatag{
    text-decoration: none ;
    color: #fff;
}

.figureatag:hover{
    text-decoration: none ;
    color: #fff;
}

.circle {
  display: inline-block;
  background: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin: 0;
  background: radial-gradient(circle at 1rem 1rem, #0F70B7, #000);
}

.circlesub{
  display: inline-block;
  background: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin: 0;
  background: radial-gradient(circle at 1rem 1rem, #0FFFFF, #000);
}

.navbar-default{
  background-color: transparent ;
/*  border-bottom: 1px solid #0F70B7 ;*/
 /* background-image: url('/assets/head.png') ;*/
  height: 42rem ;
 }

.address{
  border: 1px solid orange;
  border-radius: 3rem; 
  padding: 4rem ;
  padding-top: 1rem ;
  width: 62rem ;
}

.address select{
  padding: 0.5rem;
  border-style: hidden;
  width: 56rem;
}

.address input{
  padding: 0.5rem;
  border-style: hidden;
  width: 56rem;
}

.form-group b{
  margin-left: 10rem ;
}

#upperdiv{
}

#form{
/*  margin-top: 4rem ; */
  text-align: center ;
}

#form input{
    border: 1px solid orange;
    border-radius: 2rem;
}

#inscription {
  margin-top: 4rem ;
}


#inscription div img{
/*  margin-top: 12rem ; */
  margin-top: 12rem ;
}

.suscriber{
  text-align: end;
}

.suscriberbloc2{
  text-align: end;
  padding-right: 28rem ;
}


#over-account-wall{
  height: 70rem !important;
}

#authcomponent{ 
}

/*#nav{
  margin-top: -74rem;
}*/

#nav img{

}

#nav input{
  padding: 0.7rem;
  border: 1px solid orange;
  border-radius: 2rem;
}

#nav button{
  border: 1px solid white;
  border-radius: 2rem;
  margin-right: 1rem ;
}


#form select, label{
  margin-left: 1rem ;
}

#sentooler{
  margin-top: -5rem ;
}

@media only screen and (max-width: 500px) {
/*  #nav{
    margin-top: -28.5rem;
  }*/
}

