<div class="col-sm-12">
    <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
        <div class="panel-heading">
            
            <h2>Paiment Woyofal</h2>

        </div>
        <!-- /.panel-heading -->

		<div class="cover"></div>

        <div class="panel-body">
            <!-- Nav tabs -->
            

            <!-- Tab panes -->
            

                <div class="col-lg-offset-3 col-sm-offset-3 col-lg-5 col-sm-5 col-xs-5" id="woyofal">
                        <form name="transnat" #formwoyofal="ngForm" (ngSubmit)="showmodalwoyofal()" autocomplete="on" style="margin-top: 2rem;margin-bottom: 2rem;">
						  
							<div class="form-group row">
								<label class="col-lg-5 col-md-5" style="display:block;float:left">Numero compteur :</label>
								<div class="col-lg-5 col-md-5">
                                    <input class="form-control"  type="number" autocomplete="off" [(ngModel)]="this.numeroCompteur" name="verifiernuminput" id="numclient"   placeholder="Numéro du client" required autofocus>
							    </div>
							</div>
							<div class="form-group row" >
								<label class="col-lg-5 col-md-5" style="display:block;float:left">Montant :</label>
								<div class="col-lg-5 col-md-5">
                                  <input class="form-control"  type="number" autocomplete="off" [(ngModel)]="this.montant" name="verifiernuminput" id="numclient"   placeholder="Numéro du client" required autofocus>
							    </div>
							</div>
                            <button style="margin-top: 1rem;"  type="submit" class="btn btn-success" [disabled]="!formwoyofal.form.valid">Valider</button>
                          
                        </form>
                </div>
                

            
        </div>
    </div>
</div>
<div bsModal #modalwoyofal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

		 <div class="modal-dialog modal-sm">
		    <div class="modal-content" >
		      <div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalwoyofal()">
				    <span aria-hidden="true">&times;</span>
		        </button>
	            <h4 class="modal-title" id="myModalLabel">Informations Compteur Woyofal</h4>
		     </div>
		     <div class="modal-body">
		
				 <div *ngIf="etat">
				 	
					 <form class="form">
						 
						 <div class="form-group">
							 <label >Numero Compteur : {{compteur}}</label>
						 </div>
			             <div class="form-group">
			               	  <label >Montant : {{montant}}</label>
			             </div>
						 
					 </form>
					
				 </div>
				 <div *ngIf="!etat">
					 <p class="alert alert-danger">facture deja payé ou reference incorrecte</p>
				 </div>
		     </div>
		     <div class="modal-footer">
				  <input type="button" *ngIf="etat" value="valider" (click)="validerwoyofal()" class="btn btn-success" />
				  <input type="button" value="annuler" (click)="hidemodalwoyofal()" class="btn btn-danger" />
		     </div>
		  </div> 
	    </div>  
</div>

