<div id="page-wrapper" class="text-center">
    <div class="row">
      <div class="col-sm-12">
      <div class="panel-heading" style="background-color: #337ab7; color: white">
        <h1>Aide a la decision</h1>
      </div>
        <div class="col-lg-12">
					  <div style="position: absolute ; left: 20%; top:15%; min-width: 70% ; min-height: 50% ;text-align: -webkit-center; padding-top: 10%; z-index:1000; opacity: 1;">
              <div class="panel-heading aidedecisionadminpdvTitle center-block">
                CE MODULE EST EN DEVELOPPEMENT !
              </div>

					      <div class="loader" style="margin-top: 3rem ;">
					        <div class="loader-inner ball-pulse-rise">
					          <div></div>
					          <div></div>
					          <div></div>
					          <div></div>
					          <div></div>
					        </div>
					      </div>
					   </div>

        </div>
      </div>
    </div>
</div>
