<div style="margin-top: -8rem">

<h1>
	3eme
</h1>

<table width="100%" class="table table-responsive table-bordered" >
    <thead style="background-color: #f39200; color: white">
         <td>Rang</td>
        <td>Nom Service</td>
        <td>Total Transactions</td>
    </thead>

    <tbody>
    <tr>
        <td>1</td>
        <td>Diwane Multi-service</td>
        <td>233000</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Darou Ridwane</td>
        <td>76000</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Taha Boutique</td>
        <td>55000</td>
    </tr>
    </tbody>

</table>

</div>