<div id="page-wrapper">

  <div class="row" style="margin-top: 3rem">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="text-center">MON GUIDE D'UTILISATION</h1>
            <p class="text-center">Pour toute information supplémentaire, merci de contacter le service client de Sentool au
              <br/> <strong style="color:orange;">77 226 12 27 - 77 398 18 31 - 77 398 18 58</strong>.</p>
          </div>
          <!-- .panel-heading -->
          <div class="panel-body" style="margin-top: 17rem">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupIntroduction">Introduction #0</a>
                  </h4>
                </div>
                <div id="collapseSupIntroduction" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>Bienvenue sur le guide d’utilisation de votre plateforme Sentool. Ce support vous montre en détail l’utilisation de votre outil du futur.</p>
                    <p>Vous trouverez toutes les informations nécessaires pour mieux comprendre votre outil et l’utiliser dans toutes ses potentialités.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseDashboard">Tableau de bord (Dashboard) #1</a>
                  </h4>
                </div>
                <div id="collapseDashboard" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>C’est la première fenêtre que vous allez voir sur votre plateforme.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurTableaudebord.PNG" alt="Card image cap">
                    <p>Elle vous résume les chiffres exacts issus de votre activité par jour/semaine ou mois.</p>
                    <p>Le tableau de bord vous fait l’état de votre performance journalière en termes d’articles vendus, de transactions effectuées, de réclamations etc.</p>
                    <p>Ceci est donc votre porte d’entrée pour avoir constamment les informations sur la performance de vos points de vente.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupMonitoring">Monitoring des déposits #2</a>
                  </h4>
                </div>
                <div id="collapseSupMonitoring" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Cette partie vous fait l’état sur la caution qui vous aide à poursuivre votre activité. Vous avez les informations sur l’état de votre caution et vous serez en mesure de juger si la somme disponible est suffisante pour mener votre activité journalière et le cas échéant demander un rechargement instantané.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurDIBAN.PNG" alt="Card image cap">
                    <p>Vous avez aussi le choix de demander le retrait d’une partie de votre somme déposée en cliquant sur la partie en vert marquée <strong style="color:green;">«Demander un retrait »</strong> et il vous sera demandé de saisir la somme que vous souhaitez retirer et puis cliquer sur <strong style="color:green;">« Valider »</strong>. La somme demandée sera versée sur un compte bancaire lié à votre contrat ou sur une carte PosteCash qui pourra être fournie par l’équipe Sentool.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurDIBANSaisi.PNG" alt="Card image cap">
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupParametreCompte">Paramètre des comptes #3</a>
                  </h4>
                </div>
                <div id="collapseSupParametreCompte" class="panel-collapse collapse">
                  <div class="panel-body">
                    <h3>Création du compte Caissier</h3>
                    <p>Après avoir accedé à l’interface Superviseur, il vous reste maintenant à créer le compte caissier pour le gérant de votre point de vente</p>
                    <marquee style="color: red"><u>NB</u> : Ceci est obligatoire même si vous êtes le gérant de votre propre point de vente</marquee>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/parametrecomptesup.PNG" alt="Card image cap">
                    <p>Après avoir cliqué sur « Paramètres des comptes » vous aurez accès à cette page.</p>
                    <p>Maintenant cliquez sur <strong>« Créer un compte Caissier »</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/controlecomptesup.PNG" alt="Card image cap">
                    <p>Après avoir cliqué sur <strong>« Créer un compte Caissier »</strong>, vous aurez accès à cet onglet</p>
                    <p>Mettre les informations du <strong style="color:#1ab7ea">caissier</strong> et sur la partie <strong style="color:#1ab7ea">« Login »</strong> créer un identifiant pour votre caissier <strong style="color:red">(différent de votre propre identifiant)</strong> puis compléter le reste des informations et cliquer sur <strong style="color:green">Valider</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurAjoutCaissier.PNG" alt="Card image cap">
                    <p>Après avoir validé, le caissier recevra un SMS avec son identifiant et son mot de passe que le superviseur pourra modifier sur la partie <strong style="color:blue">« Option »</strong> de l’onglet <strong style="color:blue">« Paramètres des comptes »</strong> puis sur <strong style="color:blue">« Modifier »</strong> pour choisir un nouveau mot de passe.</p>
                    <h3>Premiers pas pour vos caissiers</h3>
                    <p>Après avoir recu un sms d'acces, Allez sur votre navigateur <strong style="color:blue">(Google Chrome, Mozilla Firefox, Edge, Opera)</strong> et saisissez sur la barre d’outils l’adresse <strong style="color:blue">sentool.bbstvnet.com</strong></p>
                    <p>Après avoir saisi le lien, vous aurez accès à cette page, Veuillez entrer les informations fournis par l’équipe Sentool <strong style="color:blue">(Identifiant et Mot de passe)</strong> et cliquer sur <strong style="color:green">valider</strong> </p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurAccedecompteCaissier.PNG" alt="Card image cap">
                    <p>Après avoir saisi vos informations <strong style="color: blue">(identifiant et mot de passe)</strong>, un SMS contenant un code de confirmation vous sera envoyé.</p>
                    <p>Veuillez  saisir le code <strong style="color: orange">ici</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurAccedecompteCaissierCode.PNG" alt="Card image cap">

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupReclamation">Status des réclamations #4</a>
                  </h4>
                </div>
                <div id="collapseSupReclamation" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Cette partie vous renseigne sur l’état du traitement des <strong style="color:blue">réclamations</strong> soumis à notre équipe et de vérifier si elles sont traités par rapport à l’ordre d’arrivée.</p>
                    <p>Vous pouvez voir accéder aux informations suivantes :</p>
                    <ul>
                      <li>La date de réclamation</li>
                      <li>Le nom du point de vente concerné, son adresse et son numéro de téléphone</li>
                      <li>Le type de service concerné par la réclamation</li>
                      <li>Le message de la réclamation</li>
                      <li>L’état d’avancement sur le traitement de la réclamation</li>
                    </ul>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurStatusdesreclamation.PNG" alt="Card image cap">
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupPropoAide">Proposition d'Aide à la décision #5</a>
                  </h4>
                </div>
                <div id="collapseSupPropoAide" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Ce service est momentanément indisponible!</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupComptabilite">Comptabilité #6</a>
                  </h4>
                </div>
                <div id="collapseSupComptabilite" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Elle vous fournit les informations nécessaires sur l’activité de vos points de vente sous forme de chiffres représentant les charges occasionnées ainsi que les revenues générées par votre activité.</p>
                    <p>L’outil comptable vous permet de conduire une gestion de caisse, d’effectuer une journalisation complète de l’intégralité de vos activités ainsi que de suivre l’exploitation de vos ressources. Tout cela vous aide à superviser et gérer tous vos points de vente de manière simultanée. Cette supervision vous permet de gérer efficacement l’activité de tous vos points et d’approvisionner les points qui s’approchent du plafond. Cela rend votre activité plus rapide et plus efficiente.</p>
                    <ul>
                      <li><u>/ L’onglet <strong style="color:blue;">« Caisse »</strong></u>
                        <p>vous permet d’avoir un aperçu sur l’activité total de tous vos points de vente pour être en mesure de suivre votre activité et toutes les dépenses qui y sont liées. En tant que propriétaire de points de vente, vous serez en mesure de contrôler les activités de la caisse de votre gérant et pouvoir les approvisionner à temps.</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabiliteCaisse.PNG" alt="Card image cap">
                      </li>
                      <li><u>/ L’onglet <strong style="color:blue;">« Journal »</strong></u>
                        <p>vous d’avoir à porte de main une liste de toutes les charges inhérentes à votre activité ainsi que les revenues qui sont générés par les activités de tous vos points de vente. Appuyez sur «Lister charges »  pour accéder à la liste des charges générées par votre activité.</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabiliteJournal.PNG" alt="Card image cap">
                        <p>Appuyer sur <strong style="color:blue;">« Ajouter charge »</strong> et remplissez tous les onglets avec les informations demandées puis enregistrer pour ajouter une nouvelle charge sur la liste déjà établie sur votre base de donnée.</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabiliteJournalAjoutCharge.PNG" alt="Card image cap">
                        <p>Cliquez sur <strong style="color:blue;">« Lister Revenus »</strong> pour accéder à la liste des revenues qui sont liées à vos opérations au niveau de tous vos points de vente. Vous aurez deux rubriques à savoir les <strong style="color:blue;">« revenus avec commissions »</strong> pour les services financiers qui offrent des commissionnements et <strong style="color:blue;">« Autres »</strong> qui concerne les revenues liées aux autres activités parallèles de vos points de vente (vente de produits, consultance, boutique etc.).</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabiliteJournalListeRevenu.PNG" alt="Card image cap">
                      </li>
                      <li><u>/ L’onglet <strong style="color:blue;">« Exploitation »</strong></u>
                        <p>vous permet enregistrer toutes les opérations journalières de l’ensemble de vos points de vente et cela pour tous les produits et services que vous commercialisez. Vous aurez à remplir les champs vides et toutes les données seront conservée sur la base dans laquelle vous aurez accés aux données par jour, année ou une intervalle de temps définie.</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabiliteExploitation.PNG" alt="Card image cap">
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabiliteExploitationRecherche.PNG" alt="Card image cap">
                        <p>Pour les <strong style="color:orange;">autres</strong> produits.</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabiliteExploitationAutre.PNG" alt="Card image cap">
                        <p>Sur cette partie vous pouvez gérer la gestion du stock des autres produits qui sont commercialisés au niveau de votre point de vente et accéder aux informations saisis sur la base à chaque période pour l’activité concernée.</p>
                      </li>
                      <li><u>/ L’onglet <strong style="color:blue;">« Personnalisation »</strong></u>
                        <p>vous permet de rendre votre interface utilisable selon vos préférences pour vous permettre de travailler plus facilement et inclure tous les produits et services commercialisés au niveau de votre point de vente.</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabilitePersonnalisation.PNG" alt="Card image cap">
                        <p>Vous pouvez :</p>
                        <p><strong style="color:orange;">Ajouter des services</strong> en appuyant sur l’onglet <strong style="color:blue;">« ajouter service »</strong> puis saisir les détails sur les champs vides et cliquer sur <strong style="color:blue;">« ajouter »</strong> pour l’insérer tous les produits commercialisés par vos points de vente et d’avoir un contrôle constant sur votre stock dans votre base de données. Vous pouvez ajouter autant de produits selon votre choix en appuyant sur <strong style="color:blue;">« autre produit »</strong>.</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabilitePersonnalisationAjoutService.PNG" alt="Card image cap">
                        <p>L’onglet <strong style="color:orange;">« Lister service »</strong> vous permet de supprimer, de chercher ou de modifier tout service ou produit lié à votre activité. Cette option vous permet de mieux personnaliser votre interface et d’effectuer des mises à jour constantes sur votre base de données personnelles.</p>
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurComptabilitePersonnalisationListeService.PNG" alt="Card image cap">

                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupCRM">CRM #7</a>
                  </h4>
                </div>
                <div id="collapseSupCRM" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Cet outil vous aide à faire un suivi méthodique de votre Gestion Relation Client. La Gestion Relation Client est un outil qui vous permet de gérer votre base de données clients.</p>
                    <p>Dans le but de vous accompagner à accomplir cette mission, Sentool met à votre disposition cet outil qui vous permet de connaitre vos clients les plus fréquents et de pouvoir faire des promotions ciblées pour tendre vers la fidélisation mais aussi de connaître les clients moins fréquents et les relancer ou mettre en place des stratégies visant à les faire revenir auprès de votre point pour effectuer leurs opérations.</p>
                    <p>Cet outil vient pour vous faciliter votre travail et  rendre votre activité plus rentable. Cet outil vous aide à faire un suivi méthodique de votre Gestion Relation Client.</p>
                    <p>La Gestion Relation Client est un outil qui vous permet de gérer votre base de données clients. Dans le but de vous accompagner à accomplir cette mission, Sentool met à votre disposition cet outil qui vous permet de connaitre vos clients les plus fréquents et de pouvoir faire des promotions ciblées pour tendre vers la fidélisation mais aussi de connaître les clients moins fréquents et les relancer ou mettre en place des stratégies visant à les faire revenir auprès de votre point pour effectuer leurs opérations.</p>
                    <p>Cet outil vient pour vous faciliter votre travail et rendre votre activité plus rentable.</p>
                    <ul>
                      <li>L’onglet <strong style="color:blue">« Portefeuille »</strong> vous permet d’avoir une base donne clients. Cette base vous donne l’opportunité de mieux connaître votre clientèle. Pour chaque business, la maîtrise de sa base de clients est primordiale pour pérenniser son activité.
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurCRM.PNG" alt="Card image cap">
                      </li>
                      <li>L’onglet <strong style="color:blue">« Suivi »</strong> vous permet d’effectuer des promotions ciblées pour les clients les plus fréquents en vue de les fidéliser et par la même occasion identifier les clients les moins fréquents et les relancer pour les faire revenir au niveau de notre point de vente.
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurCRMSuivi.PNG" alt="Card image cap">
                      </li>
                      <li>Au niveau de l’onglet <strong style="color:blue">« Prospection »</strong>, vous avez la possibilité d’entrer les données de vos nouveaux clients. Si vous avez de multiples points de vente qui commercialisent d’autres produits, vous avez une interface e-commerce qui vous permet de vendre vos produits à une plus grande base de clients et l’onglet prospection vous permet de gérer les clients potentiels et mettre en place des stratégies pour les convertir en clients.
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurCRMProspect.PNG" alt="Card image cap">
                      </li>
                      <li>La partie <strong style="color:blue">« Suivi commandes »</strong> sert à effectuer un suivi instantané pour pouvoir traquer les commandes qui vous seront faites à partir du site e-commerce et veiller au respect des processus et s’assurer que la commande est livré dans les délais.
                        <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurCRMSuiviCommand.PNG" alt="Card image cap">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupConsulterpret">Consulter les prêts #8</a>
                  </h4>
                </div>
                <div id="collapseSupConsulterpret" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Ce service est momentanément indisponible!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>

</div>

<div *ngIf="this.loading">
    <app-loader></app-loader>
</div>


