input{
  margin-top : 1rem !important;
}
.nav-pills
{
    padding-bottom: 30px;
    margin-left: 200px;
}
.tab-content
{

    border-right: 2px dotted #ccc;
    
}
#elec{
    margin-left: 40px;
    margin-right: 40px;
}