<div id="page-wrapper">
    <div class="row" >
        <div class="col-sm-12">
          <div class="panel-heading adminpdvcrmTitle" style="margin-bottom: 2rem">
            <h1>Gestion Clientèle</h1>
          </div>

          <div class="row" style="margin-bottom: 3rem;">
              <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                  <a href="#portefeuille" data-toggle="tab" [ngClass]="{'activeatag': true, 'active': menuHead.menuHead1}" (click)="menuHeadClick(1); prtflle()">Portefeuille</a>
                  <a href="#relance" data-toggle="tab" [ngClass]="{'activeatag': true, 'active': menuHead.menuHead2}" (click)="menuHeadClick(2); relanceMeth()">Relance</a>
                  <a href="#promotion" data-toggle="tab" [ngClass]="{'activeatag': true, 'active': menuHead.menuHead3}" (click)="menuHeadClick(3); promotionMeth()">Promotion</a>
                  <a href="#prospection" data-toggle="tab" [ngClass]="{'activeatag': true, 'active': menuHead.menuHead4}" (click)="menuHeadClick(4); prospect()">Prospection</a>
                  <a href="#suivicommande" data-toggle="tab" [ngClass]="{'activeatag': true, 'active': menuHead.menuHead5}" (click)="menuHeadClick(5); commandes()">Suivi Commandes</a>
              </div>
          </div>

          <div class="tab-content">
             <div class="tab-pane fade in active col-sm-12 col-xs-3" id="portefeuille">
                <div class="badge">Portefeuille</div>
                <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="portefeuille|filtreportefeuille:filtre" #fpf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
		                <thead>
                        <tr>
                            <th colspan="3" style="padding-right: 3rem ;">
                                Rechercher: <input class="form-control adminpdvcrmBorder" [(ngModel)]="filtre"/>
                            </th>
                        </tr>
                        <tr>
                            <th><p class="adminpdvcrmBorder">Prénom</p></th>
                            <th><p class="adminpdvcrmBorder">Nom</p></th>
                            <th><p class="adminpdvcrmBorder">Téléphone</p></th>
                            <th><p class="adminpdvcrmBorder">Fidélité</p></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="this.portefeuille">
                        <tr *ngFor="let portefeuille of fpf.data" style="color: #337ab7;">
                            <td>{{portefeuille.prenom}}</td>
                            <td>{{portefeuille.nom}}</td>
                            <td>{{portefeuille.telephone}}</td>
                            <td>{{portefeuille.fidelite}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator ></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
		            </table>
             </div>
             <div class="tab-pane fade in col-sm-12 col-xs-3" id="relance">
                  <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="relance|filtrerelance:filtre" #frla="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                      <thead>
                      <tr>
                        <th colspan="3" style="padding-right: 3rem ;">
                          Rechercher: <input class="form-control adminpdvcrmBorder" [(ngModel)]="filtre"/>
                        </th>
                        <th colspan="2" style="padding-right: 3rem ;">
                          <button  class="btn btn-primary" (click)="showChildModal('relancegroupe','')">Envoyer sms</button>
                        </th>
                      </tr>
                      <tr>
                        <th><p class="adminpdvcrmBorder">Choisir</p></th>
                        <th><p class="adminpdvcrmBorder">Nom</p></th>
                        <th><p class="adminpdvcrmBorder">Prénom</p></th>
                        <th><p class="adminpdvcrmBorder">Téléphone</p></th>
                        <th><p class="adminpdvcrmBorder">Service</p></th>
                        <th><p class="adminpdvcrmBorder">Echéance</p></th>
                        <th><p class="adminpdvcrmBorder">Action</p></th>
                      </tr>
                      </thead>
                      <tbody *ngIf="this.relance">
                      <tr *ngFor="let relance of frla.data ; let i = index " style="color: #337ab7;">
                        <td>
                          <input type="checkbox" #checkbox (change)="checkThisForRelance(checkbox.checked,relance,i)">
                        </td>
                        <td>{{ relance.prenom }}</td>
                        <td>{{ relance.nom }}</td>
                        <td>{{ relance.telephone }}</td>
                        <td>{{relance.nomservice}}</td>
                        <td>{{relance.echeance.date}}</td>
                        <td>
                          <button type="button" class="btn btn-primary btn-sm" (click)="showChildModal('single',relance.telephone)">SMS</button>
                          <!--<button type="button" class="btn btn-primary btn-sm" (click)="appel()">APPEL</button>
                          <button type="button" class="btn btn-primary btn-sm" (click)="mail()">EMAIL</button>-->
                        </td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <td colspan="4">
                          <mfBootstrapPaginator ></mfBootstrapPaginator>
                        </td>
                      </tr>
                      </tfoot>
                    </table>
              </div>
             <div class="tab-pane fade in col-sm-12 col-xs-12" id="promotion">
                <div style="margin-bottom: 3rem;">
                  <label>Filtrer Par :  <select class="form-control input-sm" >
                    <option>périodicité</option>
                    <option >fidélité</option>
                  </select>
                  </label>
                  <label>Service :
                    <select class="form-control input-sm" [(ngModel)]="filtreService">
                      <option></option>
                      <option  *ngFor="let srv of servicepoint">{{srv.nom}}</option>
                    </select>
                  </label>
                  <button  class="btn btn-primary" (click)="showChildModal('promogroupe','')">Envoyer sms</button>
                </div>
                <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="promotion|filtrepromotion:filtre" #fpr="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                  <thead>
                  <tr>
                    <th colspan="3" style="padding-right: 3rem ;">
                      Rechercher: <input class="form-control adminpdvcrmBorder" [(ngModel)]="filtre"/>
                    </th>
                  </tr>
                  <tr>
                    <th><p class="adminpdvcrmBorder">Choisir</p></th>
                    <th><p class="adminpdvcrmBorder">Prénom</p></th>
                    <th><p class="adminpdvcrmBorder">Nom</p></th>
                    <th><p class="adminpdvcrmBorder">Téléphone</p></th>
                    <th><p class="adminpdvcrmBorder">Périodicité/Fidélité</p></th>
                    <th><p class="adminpdvcrmBorder">Service</p></th>

                  </tr>
                  </thead>
                  <tbody *ngIf="this.promotion">
                  <tr *ngFor="let promotion of fpr.data ; let i = index "  style="color: #337ab7;">
                    <td>
                      <input type="checkbox" #checkboxprom (change)="checkThisForPromo(checkboxprom.checked,promotion,i)">
                    </td>
                    <td>{{promotion.prenom}}</td>
                    <td>{{promotion.nom}}</td>
                    <td>{{promotion.telephone}}</td>
                    <td>{{promotion.periofidel}}</td>
                    <td>{{promotion.service}}</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="4">
                      <mfBootstrapPaginator ></mfBootstrapPaginator>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>

             <div class="tab-pane fade in col-sm-12 col-xs-3" id="prospection" >

                   <div class="badge">Prospection</div>

                     <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="prospection|filtreprospection:filtre" #fprs="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th colspan="3" style="padding-right: 3rem ;">
                                            Rechercher :
                                            <input class="form-control adminpdvcrmBorder" [(ngModel)]="filtre"/>
                                        </th>
                                  </tr>
                                    <tr>
                                        <th><p class="adminpdvcrmBorder">Prénom</p></th>
                                        <th><p class="adminpdvcrmBorder">Nom</p></th>
                                        <th><p class="adminpdvcrmBorder">Téléphone</p></th>
                                        <th><p class="adminpdvcrmBorder">Détail</p></th>
                                        <th><p class="adminpdvcrmBorder">Action</p></th>
                                   </tr>

                                </thead>
                                <tbody *ngIf="this.prospection">
                                <tr *ngFor="let prospection of fprs.data"  style="color: #337ab7;">
                                    <td>{{prospection.prenom}}</td>
                                    <td>{{prospection.nom}}</td>
                                    <td>{{prospection.telephone}}</td>
                                    <td><button type="button" class="btn btn-primary" popover="retrait d'argent" popoverTitle="Détails" triggers="focus">Détails</button></td>
                                    <td><button  class="btn btn-primary" (click)="showChildModal('single',prospection.telephone)">SMS</button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>

                 </table>
            </div>
             <div class="tab-pane fade in col-sm-12 col-xs-3" id="suivicommande">
                <div class="badge">Suivi commandes</div>
					          <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="suivicommande|filtresuivicommande:filtre" #fsc="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
					                                <thead>
					                                    <tr>
					                                        <th colspan="3" style="padding-right: 3rem ;">
					                                            Rechercher : <input class="form-control adminpdvcrmBorder" [(ngModel)]="filtre"/>
					                                        </th>
							                            </tr>
					                                    <tr>
					                                        <th><p class="adminpdvcrmBorder">Nom</p></th>
					                                        <th><p class="adminpdvcrmBorder">Prénom</p></th>
					                                        <th><p class="adminpdvcrmBorder">Point de récupération</p></th>
					                                        <th><p class="adminpdvcrmBorder">Montant de la commande</p></th>
					                                        <th><p class="adminpdvcrmBorder">Détails</p></th>
					                                        <th><p class="adminpdvcrmBorder">Etat</p></th>

					                                   </tr>

					                                </thead>
					                                <tbody *ngIf="this.suivicommande">
					                                <tr *ngFor="let suivicommande of fsc.data"  style="color: #337ab7;">
					                                    <td>{{suivicommande.nomclient}}</td>
					                                    <td>{{suivicommande.prenomclient}}</td>
					                                    <td>{{getAddressRecup(suivicommande.pointderecuperation)}}</td>
					                                    <td>{{suivicommande.montantcommande}}</td>
					                                    <td><button type="button" class="btn btn-primary" popover="{{suivicommande.detail}}" popoverTitle="Détails" triggers="focus">Détails</button></td>
					                                    <td>{{suivicommande.etat}}</td>

					                                </tr>
					                                </tbody>
					                                <tfoot>
					                                    <tr>
					                                        <td colspan="4">
					                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
					                                        </td>
					                                    </tr>
					                                </tfoot>

					    </table>
				        </div>
          </div>
        </div>
    </div>
</div>
<div bsModal #childModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
          </button>
            <h4 class="modal-title" id="myModalLabel">Envoi SMS</h4>
        </div>
        <div class="modal-body" style="height : 37rem">
        <div class="col-sm-12 col-xs-12">

          <textarea style="margin-bottom: 3rem; " rows="4"  type="text" [(ngModel)]='message' class="form-control input-sm"  placeholder="Entrez le message que vous voulez envoyer ici ..." required cols="20"></textarea>

          <div style="text-align: center ;">
             <a *ngIf="this.categMsg=='promogroupe'" class="btn btn-success" type="button" (click)="envoyersmsPromo()">Envoyer</a>
             <a *ngIf="this.categMsg=='relancegroupe'" class="btn btn-success" type="button" (click)="envoyersmsRelance()">Envoyer</a>
             <a *ngIf="this.categMsg=='single'" class="btn btn-success" type="button" (click)="sms(choosedCustomerPhone)">Envoyer</a>
              <a type="reset" class="btn btn-danger"  (click)="hideChildModal()">Annuler</a>
          </div>
        </div>
      </div>

        </div>

   </div>
</div>

<div *ngIf="this.loading">
    <app-loader></app-loader>
</div>


