<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
          <div class="panel-heading" style="background-color: #337ab7; color: white; text-align: center;">
            <h1>Status des réclamations</h1>
          </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5rem;">
	    <div class="col-xs-12 col-md-12 col-lg-12">
	        <div class="row" style="color: #f39200; text-align: center">
	            <div class="col-xs-6">
	            	<label class="label-control">Recherche:</label>
	            	<input class="form-control adminmultipdvReclamationBorder" [(ngModel)]="filterQuery"/>
	            </div>
	            <div class="col-xs-2">
	                <label class="label-control">Nombre de ligne</label>
	                <select class="form-control input-sm adminmultipdvReclamationBorder" [(ngModel)]="rowsOnPage">
	                    <option [ngValue]="5">5</option>
	                    <option [ngValue]="10">10</option>
	                    <option [ngValue]="25">25</option>
	                    <option [ngValue]="50">50</option>
	                </select>
	            </div>
	            <div class="col-xs-3">
	                <div class="row">
	                    <label class="col-xs-12 label-control">Trier par</label>
                      <select class="form-control input-sm adminmultipdvReclamationBorder" [(ngModel)]="sortBy" >
                          <option ngValue="datereclamation">Date réclamation</option>
                          <option ngValue="pdv">Pdv</option>
                          <option ngValue="typeservice">Type de service</option>
                          <option [ngValue]="sortByWordLength">Etat</option>
                      </select>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default table-responsive" style="width: 100%;">
	            <table class="table" [mfData]="adminmultipdvReclamation | dataFilterAdminmultipdvStatusReclamation : filterQuery" #mf="mfDataTable"
	                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
	                <thead>
	                <tr>
	                    <th><p class="adminmultipdvReclamationBorder">Date de réclamation</p></th>
	                    <th><p class="adminmultipdvReclamationBorder">Pdv</p></th>
	                    <th><p class="adminmultipdvReclamationBorder">Adresse</p></th>
	                    <th><p class="adminmultipdvReclamationBorder">Telephone</p></th>
	                    <th><p class="adminmultipdvReclamationBorder">Type de service</p></th>
	                    <th><p class="adminmultipdvReclamationBorder">Message</p></th>
	                    <th><p class="adminmultipdvReclamationBorder">Etat</p></th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr *ngFor="let item of mf.data"  style="color: #337ab7; text-align: center">
                    <td>{{item.datereclamation.date | date}}</td>
                    <td>{{item.pdv}}</td>
                    <td>{{getAdress(item.adresse)}}</td>
                    <td style="color: #f39200;">{{item.telephone}}</td>
                    <td style="color: #f39200;">{{item.typeservice}}</td>
                    <td class="text-center">
                      <button type="button" class="btn adminmultipdvReclamationButton" popover="{{item.reclamation}}" popoverTitle="Réclamation" triggers="focus">
                          voir
                      </button>
                    </td>
                    <td>{{item.etatreclamation==1?'Régle':'En attente..'}}</td>
	                </tr>
	                </tbody>
	                <tfoot>
	                <tr>
	                    <td colspan="5">
	                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>
	                    </td>
	                </tr>
	                </tfoot>
	            </table>
	        </div>
	    </div>
	</div>

</div>

<div *ngIf="this.loading">
    <app-loader></app-loader>
</div>
