<div class="col-sm-9" style="margin-top: 7rem; text-align: justify">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="text-center">MON GUIDE D'UTILISATION</h1>
        <p class="text-center">Pour toute information supplémentaire, merci de contacter le service client de Sentool au
          <br/> <strong style="color:orange;">77 226 12 27 - 77 398 18 31 - 77 398 18 58</strong>.
        </p>
      </div>
      <!-- .panel-heading -->
      <div class="panel-body" style="margin-top: 2rem">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupIntroduction">Introduction #0</a>
              </h4>
            </div>
            <div id="collapseSupIntroduction" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Bienvenue sur le guide d’utilisation de votre plateforme Sentool. Ce support vous montre en détail l’utilisation de votre outil du futur.</p>
                <p>Vous trouverez toutes les informations nécessaires pour mieux comprendre votre outil et l’utiliser dans toutes ses potentialités.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCaissePostecash">Postecash #1</a>
              </h4>
            </div>
            <div id="collapseCaissePostecash" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Allez sur l’onglet PosteCash pour accéder à l’interface réservée aux services de PosteCash.</p>
                <ol>
                  <li><u>/ Achat de code woyofal</u>
                    <p>Après avoir cliqué sur « Achat de code Woyofal », il vous sera demandé de saisir les informations suivantes : le montant d’achat ainsi que le numéro du compteur woyofal à recharger et pour que la transaction soit effective vous devez appuyer sur <strong style="color:green">Valider</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierAchatCodeWoyafalPostcash.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Achat de carte JULA</u>
                    <p>Sélectionner l’onglet « Achat JULA » puis entrer les informations dans les champs respectifs à savoir le nombre de cartes que le client souhaite acheter ainsi que le montant des cartes et cliquer sur <strong style="color:green">Valider</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierAchatJulaPostcash.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Recharger une carte PosteCash espèces</u>
                    <p>Cliquez sur l’onglet « Rechargement Espèce » puis compléter les informations en saisissant le numéro de téléphone du client ainsi que le montant qu’il souhaite recharger et  cliquer sur <strong style="color:green">Valider</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierRechargEspecePostcash.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Règlement de facture Senelec en espèces</u>
                    <p>Remplir les champs vides avec les informations demandés notamment le nom de la police mentionnée sur la facture ainsi que le numéro de la facture  puis cliquez sur <strong style="color:green">Valider</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierRegleSeneleccash.PNG" alt="Card image cap">
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCaisseOM">Orange money #2</a>
              </h4>
            </div>
            <div id="collapseCaisseOM" class="panel-collapse collapse">
              <div class="panel-body">
                Ce service est momentanément indisponible!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCaisseTigocash">Tigo cash #3</a>
              </h4>
            </div>
            <div id="collapseCaisseTigocash" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Ce service est momentanément indisponible!</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCaisseTNT">TNT by Excaf #4</a>
              </h4>
            </div>
            <div id="collapseCaisseTNT" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Allez sur l’onglet TNT by Excaf pour accéder à l’interface réservée aux services de TNT</p>
                <ol>
                  <li><u>/ Vente un nouvel abonnement</u>
                    <p>Sélectionner le service TNT et entrer les informations du client à savoir le numéro du décodeur ou de la carte sur la partie encerclée en <strong style="color:orange;">orange</strong> puis cliquer sur <strong style="color: green;">Valider</strong>, vous serez redirigé sur une autre page où vous mettrez les informations supplémentaires pour valider la transaction.</p>
                    <p><u style="color: red">NB :</u> Si le client a déjà effectué un abonnement au niveau de votre point de vente, ces informations sont directement stockées au niveau de la base de donnée et  vous aurez toutes ces informations une fois que vous entrez le numéro du décodeur ou de la carte sur la colonne concernée.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierNewAbon1.png" alt="Card image cap">
                  </li>
                  <li><u>/ Pour vendre un abonnement à un ancien client</u>
                    <p>Allez sur l’onglet « Nouvel abonnement » et saisir <strong style="color:orange;">le numéro de Chip ou de la carte</strong>. Le numéro de chip commence toujours par <strong style="color:orange;">06</strong> mais il faut saisir les chiffres en commençant par le <strong style="color:orange;">6</strong> sans le <strong style="color:orange;">0</strong>.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierAncienAbon1.png" alt="Card image cap">
                    <p>Si l’opération concerne un ancien client, vous aurez une autre page qui va s’afficher avec certaines informations du client et vous aurez à compléter que les informations concernant la transaction que vous devez effectuer (nombre de mois et type de bouquet) et cliquer sur  <strong style="color:green;">Valider</strong>.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierAncienAbon2.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Vente de carte</u>
                    <p>La carte permet au client de pouvoir utiliser son décodeur. Pour procéder à cette opération, veuillez saisir les informations relatives au client (Nom, Prénom, Téléphone, Adresse etc.) et cliquer sur <strong style="color:green">Valider</strong> pour que la transaction soit effective.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierVenteCarteTNT.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Vente de décodeurs</u>
                    <p>Remplir les champs requis avec les informations du client (Nom, prénom, téléphone etc.) et les numéros mentionnés au bas du décodeur (Chip ID) et le numéro de la carte et puis <strong style="color:green">Valider</strong> la transaction.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierVenteDecodeurTNT.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Suivis Abonnement, décodeur et cartes</u>
                    <p>Après avoir effectué des transactions, vous pouvez effectuer un suivi concernant la vente d’un abonnement, la vente d’une carte ou d’un décodeur.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierListeAbonTNT.PNG" alt="Card image cap">
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierListeDecodeurTNT.PNG" alt="Card image cap">
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierListeCarteTNT.PNG" alt="Card image cap">
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCaisseGR">Gestion reporting #5</a>
              </h4>
            </div>
            <div id="collapseCaisseGR" class="panel-collapse collapse">
              <div class="panel-body">
                <p>	Cet onglet vous permet de faire un suivi de la situation financière de votre activité.  En cliquant sur « Gestion et Reporting », vous pourrez avoir toutes les informations relatives aux opérations de votre point de vente, enregistrer toutes les dépenses relatives à l’exercice de vos activités ainsi que les recettes obtenues. Vous avez non seulement la possibilité d’enregistrer les réclamations que vous avez reçues au niveau de votre point de vente mais aussi d’être à jour sur l’état des approvisionnements de votre caisse.</p>
                <ol>
                  <li><u>/ Historique des opérations</u>
                    <p>Cette partie vous donne tous les détails par rapport aux transactions que vous avez effectuées. Vous pouvez accéder à toutes ces informations avec la barre de recherche intégrée qui vous permet d’accéder à la base d’informations relative à vos opérations selon la date, le type de service, le traitement, ou le montant et cela en quelques secondes.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierGestionReportingHistoriqueOpera.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Dépenses</u>
                    <p>Cet onglet vous permet d’enregistrer toutes les dépenses que vous avez effectuées durant une période précise et de pouvoir les utiliser ultérieurement à des fins comptables.</p>
                    <p>Vous avez quatre colonnes où il faut saisir les informations notamment le « libellé » de la dépense, le « montant de dépense », le « service concerné » (les services commercialisés au niveau de votre plateforme et cliquez sur « ajouter ». Vous répéterez le même processus à chaque fois que vous souhaitez enregistrer une nouvelle dépense.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierGestionReportingDepense.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Recettes</u>
                    <p>Cet onglet vous permet de lister toutes les recettes gagnées sur une période définie pour avoir toutes les données au niveau de votre serveur et être en mesure de faire un suivi comptable et analyser la performance de votre point de vente.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierGestionReportingRecette.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Caisse</u>
                    <p>Cette partie vous donne des informations en temps réel sur l’état de votre caisse en faisant toutes les déductions nécessaires concernant les dépenses. Elle vous informe aussi sur l’etat des approvisionnements qui seront fait par le compte superviseur dans le cas où la somme disponible dans votre caisse est insuffisante pour continuer vos opérations.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierGestionReportingCaisse.PNG" alt="Card image cap">
                  </li>
                  <li><u>/ Réclamations</u>
                    <p>Cette onglet vous permet d’enregistrer les réclamations dans le but de les traiter le plutôt possible et spécialement être en mesure d’effectuer un suivi client effectif et très performant.</p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierGestionReportingReclamation.PNG" alt="Card image cap">
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCaisseDP">Demande de pret #6</a>
              </h4>
            </div>
            <div id="collapseCaisseDP" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Pour mieux instaurer la proximité, un sysème de prêt a été mis en place dans le but de vous permettre de continuer vos activités si vous êtes dans l’indisponibilité d’approvisionner votre caisse en temps réel. Ces prêts sont alloués à tout point de vente qui remplit les pré-requis pour en bénéficier.</p>
                <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/caissierDemandepret.png" alt="Card image cap">
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCaisseEcommerce">E-commerce #7</a>
              </h4>
            </div>
            <div id="collapseCaisseEcommerce" class="panel-collapse collapse">
              <div class="panel-body">
                Pour trés bientot.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>


<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>
