<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <app-navbar-top></app-navbar-top>

        <div class="navbar-default sidebar" role="navigation" id="leftnavbar">
	        <div class="sidebar-nav navbar-collapse">
	            <ul class="nav" id="side-menu">
	                <li>
	                    <a [routerLink]="['/accueiladmpdv', 'dashboard']" ><i class="fa fa-dashboard fa-fw"></i> Tableaux de bord</a>
	                </li>
	                <li>
	                    <a [routerLink]="['/accueiladmpdv', 'monitoring']" ><i class="fa fa-dashboard fa-fw"></i> Monitoring des deposits</a>
	                </li>
	                <li>
	                    <a [routerLink]="['/accueiladmpdv', 'parametrage']" ><i class="fa fa-dashboard fa-fw"></i> Statuts Réclamations</a>
	                </li>
	                <li>
	                    <a [routerLink]="['/accueiladmpdv', 'aidedecision']" ><i class="fa fa-dashboard fa-fw"></i> Demandes de retrait de fonds</a>
	                </li>
	                <li>
	                    <a [routerLink]="['/accueiladmpdv', 'aidedecision']" ><i class="fa fa-dashboard fa-fw"></i> Updated de cautions</a>
	                </li>
	                <li>
	                    <a [routerLink]="['/accueiladmpdv', 'aidedecision']" ><i class="fa fa-dashboard fa-fw"></i> Recouvrement</a>
	                </li>

	            </ul>
	        </div>
	    </div>
    </nav>
    <div class="row">
        <router-outlet></router-outlet>
    </div>

</div>
