<div class="row desktop" id="ecomhome" >

<!--      <h1 style="color : #337ab7 ;">E-Commerce</h1>


   <div class="col-sm-4 extremite">
  	<a class="btn ecomBtn" href="#ecomcatalogue" (click)="initialize()" data-toggle="tab">Catalogue</a>
  </div>

  <div class="col-sm-4" >
    <a class="btn ecomBtn" href="#prisecom" (click)="initialize()" data-toggle="tab">Prendre une commande</a>
  </div>

  <div class="col-sm-4 extremite">
  	<a class="btn ecomBtn" href="#ecomespaceperso" (click)="initialize()" data-toggle="tab" >Espace Perso</a>
  </div>
 -->

  <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">

    <div class="panel-heading">
        
        <h2>E-Commerce</h2>

    </div>

    <div class="cover"></div>

  <div class="panel-body">

    <div id="om-options">
        <a style="padding-left: 4rem; padding-right: 4rem;" href="#ecomcatalogue" (click)="initialize()" data-toggle="tab">Catalogue</a>
        
        <a  style="padding-left: 4rem; padding-right: 4rem; width: 44%; " href="#prisecom" (click)="initialize()" data-toggle="tab">Prendre une commande</a>
        
        <a  href="#ecomespaceperso" (click)="initialize()" data-toggle="tab" >Espace Perso</a> 

    </div>



    <div class="row tab-content">
      
    	<div class="tab-pane fade col-sm-12 col-xs-12 in active" id="ecomcatalogue">
        	<app-catalogue></app-catalogue>
    	</div>

	    <div class="row tab-pane fade col-sm-12 col-xs-12" id="ecomespaceperso">
        	<app-espace-perso></app-espace-perso>
	    </div>

      <div class="row tab-pane fade col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top: 3rem ; background-color:#f8f8f8;" id="prisecom">

          <div class="row" *ngIf="!inforecvd&&!postcmd">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " style="text-align: right; padding-top : 1.5rem ;">
                      <label class=" control-label">Code du client </label>
            </div>

            <div class="col-sm-5 col-lg-5 col-md-5 col-xs-5" style="text-align: center;">
                  <input type="text" style="border:2px solid #36A9E0;border-radius:20px 0px 20px 20px" [(ngModel)]="codecmd"   name="codecmd" id="codecmd" class="form-control" placeholder="Code passé au client après commande." required>
            </div>
            <div class="col-sm-2 col-lg-2 col-md-2 col-xs-2" style="text-align: left; padding-top : 1rem ;">
                  <button class="btn btn-success" (click)="recupInfosCmd()"  >
                  Valider</button>
            </div>
          </div>
        </div>

          <div class="col-sm-12 col-xs-12" *ngIf="inforecvd&&!postcmd" >
            <h2 style="text-align: center ; color: #337ab7">Détails Commandes</h2>

                <div class="col-sm-3 col-xs-12" style="text-align: right; padding-top : 1.5rem ;">
                          <label class=" control-label" style="font-weight: normal">Prénom client : <b>{{prenom}}</b></label>
                </div>
                <div class="col-sm-3 col-xs-12" style="text-align: right; padding-top : 1.5rem ;">
                          <label class=" control-label" style="font-weight: normal">Nom client : <b>{{nom}}</b></label>
                </div>
                <div class="col-sm-3 col-xs-12" style="text-align: right; padding-top : 1.5rem ;">
                          <label class=" control-label" style="font-weight: normal">Net à payer : <b>{{montant}}</b></label>
                </div>

                <div class="col-sm-2 col-xs-12" style="text-align: left;">
                      <button class="btn btn-success" style="margin-left: 3rem;" (click)="prendreCommande()"  >
                      Prendre la commande</button>
                </div>


          </div>

          <div class="col-sm-12 col-xs-12" *ngIf="postcmd" >
            <h2 style="text-align: center ; color: #337ab7">La commande a bien été enregistrée et un code de suivi a été envoyé au client. Merci!</h2>
          </div>
       </div>

    </div>
  </div>
</div>

<div class="row mobile" id="ecomhome" >
<div class="row" style="background-image: url(assets/background-v.png); opacity: 0.9; background-size: 400px; min-height: -webkit-fill-available;">
            <div class="row" style="background-color:rgb(255,144, 00);height: 450px; min-height: -webkit-fill-available; text-align: center; opacity:0.96;">
              <img src="assets/thumbnailphone.png" style="height: 50px; margin-left: -80px; padding-top: 1rem; margin-right: 5rem; margin-top: -20px; margin-right: 40px;">
              <img src="assets/thumbnail.png" style="width: 30%; opacity:0.96;padding-top: 3rem;margin-right: 5rem;"/>
              
              <div>
                <img src="assets/retour.png" (click)="pdvacueilretour()"  style="margin-top:-20rem; height: 4rem; margin-left: 23rem;"/>
                <img src="assets/deconnet.png" style="margin-top:-16rem; height: 4rem; margin-left: 23rem;"/>
              </div>
              <!--<i class="fa fa-power-off" style="color: white; margin-right: -16rem;">Déconnexion</i>-->
              <div class="row" style="margin-top: -16px; ">
                <button style="background-color: transparent;border: 0px;width: 18rem;height: 5rem;border: 2px solid white;">
                <p style="color:white;font-family: caviar dreams bold; font-size: 3rem;">E-commerce</p>
              </button>
              </div>
              <div class="row" style="padding-top:3rem;">
                <button style="background-color: transparent;border: 0px; width: 36rem;">
                <p style="color:white;font-family: caviar dreams bold; font-size: 2rem;">Catalogue</p>
                </button>
              </div>
             <div class="row">
                <button style="background-color: transparent;border: 0px; width: 36rem;">
                <p style="color:white;font-family: caviar dreams bold; font-size: 2rem;">Prendre une Commande</p>
                </button>
              </div>
              <div class="row">
                <button style="background-color: transparent;border: 0px; width: 36rem;">
                <p style="color:white;font-family: caviar dreams bold; font-size: 2rem;">Espace Perso</p>
                </button>
              </div>
              <button class="btn btn-success" style=" margin-top: 30px; background-color: white; width: 50px; height: 50px; border-radius: 50%; border: none;"><i class="fa fa-check" style="color : white" aria-hidden="true"></i></button>
            </div>
      </div>
</div>

<div bsModal #childModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
          </button>
            <h4 class="modal-title" id="myModalLabel">Détails de la commande.</h4>
        </div>
        <div class="modal-body">

        </div>


      </div>
     </div>
</div>

<div *ngIf="this.loading">
    <app-loader></app-loader>
</div>
