<div class="col-sm-9">
  <div class="panel panel-default" style="margin-top: 5rem;">
    <div class="panel-heading" >
      <h2>Gestion & Reporting </h2>
    </div>
    <div class="cover"></div>
        <!-- /.panel-heading -->
    <div class="panel-body">
            <!-- Nav tabs -->
      <div id="om-options">
          <a href="#historique" style="padding-left: 2rem; padding-right: 2rem;" (click)="histop()"  data-toggle="tab">Historique Opérations</a>
          <a href="#charges" style="padding-left: 2rem; padding-right: 2rem;" (click)="depenseop()" data-toggle="tab">Dépenses</a>
          <a href="#ventes"  data-toggle="tab">Recettes</a>
          <a href="#reclamation" data-toggle="tab">Réclamations</a>
          <a href="#approvisionnement" (click)="etatcaisse()" data-toggle="tab">Caisse</a>
      </div>

      <div class="tab-content">

        <div class="tab-pane fade in active row" id="historique">
          <div class="panel panel-default row justify-content-center">
            <fieldset><h2>Historique Opérations</h2></fieldset>
            <div class="panel-body" style="margin: 0 auto; text-align: center">
              <div class="row" style="margin-bottom: 3rem; margin-top: 4rem">
                <div class="col-sm-4">
                  <label class="label-control" for="datejour">Date par jour:</label>
                  <div class="row">
                    <input type="date" id="datejour" name="datejour" [(ngModel)]="selectionjour" />
                    <button type="button" class="btn btn-primary btn-sm" (click)="historiquejour()" [disabled]="selectionjour==undefined" >Chercher</button>
                  </div>
                </div>
                <div class="col-sm-8">
                  <label class="label-control">Date par intervalle:</label>
                  <div class="row">
                    <input type="date" name="intervalledateinit" [(ngModel)]="selectionintervalledateinit" /> à <input type="date" name="intervalleddatefinal" [(ngModel)]="selectionintervalleddatefinal"  />
                    <button type="button" class="btn btn-primary btn-sm" (click)="historiqueintervalle()" [disabled]="selectionintervalledateinit>selectionintervalleddatefinal || selectionintervalledateinit==undefined || selectionintervalleddatefinal==undefined " >Chercher</button>
                  </div>
                </div>
              </div>
              <table width="100%" class="table table-responsive table-striped" [mfData]="gestionreporting|filtregestionreporting:filtre" #fho="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%; margin-top: 4rem ;">
                <thead>
                <tr>
                  <th><mfDefaultSorter by="dateoperation.date">Date</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="operateur">Service</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="traitement">Traitement</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="montant">Montant</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="infoclient">Client</mfDefaultSorter></th>
                </tr>
                <tr>
                  <th colspan="4">
                    <label class="label-control">Recherche:</label>
                    <input class="form-control" [(ngModel)]="filtre" placeholder="Recherche"/>
                  </th>
                </tr>
                </thead>
                <tbody *ngIf="this.gestionreporting">
                <tr *ngFor="let gestionreporting of fho.data">
                      <td>{{gestionreporting.dateoperation.date.substring(0,19)}}</td>
                      <td>{{gestionreporting.operateur}}</td>
                      <td>{{gestionreporting.traitement}}</td>
                      <td>{{currencyFormat(gestionreporting.montant)}}</td>
                      <td>
                        <a *ngIf="gestionreporting.operateur!='TNT' && gestionreporting.operateur!='POSTCASH'">{{ trimer(gestionreporting.infoclient) }} </a>
                        <a *ngIf="gestionreporting.operateur!='orangemoney' && gestionreporting.operateur!='tigocash' && gestionreporting.operateur!='TNT' && gestionreporting.operateur!='POSTCASH'"> &#45;&#45; </a>
                        <button type="button" class="btn btn-success btn-sm" *ngIf="gestionreporting.operateur=='TNT' || gestionreporting.operateur=='POSTCASH'" (click)="reimprimerhistop(gestionreporting)"> Réimprimer </button>
                      </td>
                  </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="4"><mfBootstrapPaginator ></mfBootstrapPaginator></td>
                </tr>
                </tfoot>
              </table>
              <div class="col-sm-3 col-xs-3" ><button class=" btn btn-primary btn-block"  OnClick="javascript:window.print()">Imprimer</button></div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="charges">
          <div class="panel">
            <fieldset><h2>Enregistrer une dépense</h2></fieldset>
            <div class="col-sm-12 col-xs-12" >
              <div class="col-sm-3 col-xs-12"><input type="text" [(ngModel)]="libelleCharge"   name="libelle" id="libelle" class="form-control"  placeholder="Libelle charge" required></div>
              <div class="col-sm-3 col-xs-12"><input type="number" [(ngModel)]="montantCharge"   name="montant" id="montant" class="form-control" placeholder="Montant de la dépense" required></div>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control input-sm" [(ngModel)]="service" style="margin-top: 1rem;" >
                  <option>--Choisir le service concerné--</option>
                  <option  *ngFor="let service of servicepoint">{{service.nom}}</option>
                </select>
              </div>
              <div class="col-sm-3 col-xs-12"><button (click)="validCharge()" id="validcharge1" class="btn btn-primary btn-block" >Ajouter</button></div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="ventes">
          <div class="panel">
            <fieldset><h2>Enregistrer une Recette</h2></fieldset>
            <div class="col-sm-12 col-xs-12" style="margin-top: 4rem ;">
              <div  class="col-sm-3 col-xs-12" style="margin-top: -1rem;">
                <label>Service </label>
                <select class="form-control input-sm" [(ngModel)]="servicevente" >
                  <option>---Faites un choix---</option>
                  <option  *ngFor="let srv of servicepoint">{{srv.nom}}</option>
                </select>
              </div>
              <div  class="col-sm-3 col-xs-12" style="margin-top: -1rem;">
                <label>Désignation</label>
                <select class="form-control input-sm" [(ngModel)]="designation" >
                  <option>---Faites un choix---</option>
                  <option  *ngFor="let designation of getDesignations()">{{ designation }}</option>
                </select>
              </div>
              <div class="col-sm-3 col-xs-12" style="margin-top: -2rem;">
                <label>Quantité</label>
                <input type="number" [(ngModel)]="quantite" name="qte" id="qte" class="form-control" placeholder="quantité" required>
              </div>
              <div class="col-sm-3 col-xs-12" style="margin-top: 1rem;" *ngIf="servicevente.toLowerCase()!='assurance'">
                <button id="validcharge" class="btn  btn-primary btn-block" type="submit" (click)="validvente()">Valider</button>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12" *ngIf="servicevente.toLowerCase()=='assurance'" style="margin-top: 1rem">
              <div class="col-sm-3 col-xs-12" style="margin-left: -1rem;">
                <label style="margin-left: 2rem;"></label>
                <input type="text" [(ngModel)]="prenoma"  name="prenoma" id="prenoma" class="form-control" placeholder="Prénom du client ..." required>
                <div>
                  <label style="margin-left: 2rem;">Date fin assurance </label>
                  <input type="date" [(ngModel)]="datefin"   name="datefin" id="datefin" class="form-control" placeholder="date fin assurance" required>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <label style="margin-left: 2rem;"></label>
                <input type="text" [(ngModel)]="noma"   name="noma" id="noma" class="form-control" placeholder="Nom du client ..." required>
                <div>
                  <label style="margin-left: 2rem;">Date début assurance </label>
                  <input type="date" [(ngModel)]="datedebut"   name="datedebut" id="datedebut" class="form-control"  placeholder="date début assurance" required>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <label style="margin-left: 2rem;"></label>
                <input type="string" [(ngModel)]="telephonea"   name="telephonea" id="telephonea" class="form-control" placeholder="Téléphone du client ..." required>
                <div>
                  <button style="margin-top: 4.5rem; margin-left: 1rem;" (click)="validvente()" id="enregistrerassurance" class="btn btn-primary btn-block" >Enregistrer</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="reclamation">
          <div class="panel">
            <fieldset><h2>Réclamation</h2></fieldset>
            <div class="col-sm-12 col-xs-12" >
              <div class="col-sm-3 col-xs-12" style="margin-left: -2rem;">
                <input type="text" [(ngModel)]="sujet"   name="sujet" id="sujet" class="form-control"  placeholder="Motif réclamation" required>
              </div>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control input-sm" [(ngModel)]="nomservice" style="margin-top: 1rem;" >
                  <option>--Choisir le service concerné--</option>
                  <option  *ngFor="let nomservice of servicepoint">{{nomservice.nom}}</option>
                </select>
              </div>
              <textarea type="text" [(ngModel)]="message"  rows="5" name="descrip" id="descrip" class="form-control" placeholder="description de votre réclamation" required></textarea>
              <div class="col-sm-3 col-xs-12"><button style="margin-top: 2rem;" (click)="validreclamation()" id="validerreclamation" class="btn btn-primary btn-block" >Envoyer</button></div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="approvisionnement">
          <div class="panel">
            <fieldset><h2>Etat de la caisse</h2></fieldset>
            <div class="col-sm-12 col-xs-12" *ngIf="caisseEtat">
              <h3>Solde caisse : {{currencyFormat(caisseEtat.soldeFermet)}}.FCFA </h3>
              <p *ngIf="caisseEtat.etat==0">Nouvel approvisionnement de {{currencyFormat(caisseEtat.soldeOuvert - caisseEtat.soldeFermet)}} <button class="btn btn-success" (click)="validerapprovision(caisseEtat.id)">Valider</button></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>
