<div class="col-sm-9" style="margin-top: 7rem">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div>
        <img src="assets/cofina.jpg">
        <h4 style="padding: 2rem; background-color: cadetblue ; color: black ; text-align: center">FORMULAIRE DEMANDE DE PRET PERSONNE MORALE</h4>
      </div>
      <form name="submitForm" (ngSubmit)="envoyerDemande()" #registrationForm="ngForm">
        <div style="border : 1px solid black ;">
          <div class="form-inline">
            <label>Intitulé du compte:</label>
            <input type="text" [(ngModel)]="this.intitule" class="form-control" name="intitule">
          </div>

          <div class="form-inline">
            <label>Numéro du compte:</label>
            <input type="text" class="form-control" [(ngModel)]="this.numcompte" name="numcompte">
          </div>

          <div class="form-inline">
            <label>Nom/Prénom du signataire:</label>
            <input type="text" class="form-control" [(ngModel)]="this.infoperso" style="width:74% ;" name="infoperso">
          </div>

          <div class="form-inline">
            <label>Forme juridique:</label>
            <input type="radio" name="formejuridiq" [(ngModel)]="this.formejuridiq" value="entreprise Individuelle">Entreprise Individuelle
            <input type="radio" name="formejuridiq" [(ngModel)]="this.formejuridiq" value="sarl">SARL
            <input type="radio" name="formejuridiq" [(ngModel)]="this.formejuridiq" value="sa">SA
            <input type="radio" name="formejuridiq" [(ngModel)]="this.formejuridiq" value="gie">GIE
            <input type="radio" name="formejuridiq" [(ngModel)]="this.formejuridiq" value="autres">Autre(préciser)
          </div>

          <div class="form-inline">
            <label>Siége social:</label>
            <input type="text" class="form-control"  [(ngModel)]="this.siegesoc" style="width:74% ;" name="siegesoc">
          </div>

          <div class="form-inline">
            <label>Portable:</label>
            <input type="text" class="form-control"  [(ngModel)]="this.numport" name="numport">
            <label>Fixe:</label>
            <input type="text" class="form-control"  [(ngModel)]="this.numfixe" name="numfixe">
            <label>Email:</label>
            <input type="email" class="form-control"  [(ngModel)]="this.email" name="email">
          </div>
        </div>

        <div class="col-sm-12" style="padding-top: 2rem">
          <div class="col-sm-6" style="text-align: left ; border:1px solid black ; height: 28rem;">
            <h3 style="background-color: red ; color: white">TYPE DE CREDIT</h3>
            <input type="radio" name="typcredit" [(ngModel)]="this.typcredit" value="Fond de roulement">Fond de roulement <br>
            <input type="radio" name="typcredit" [(ngModel)]="this.typcredit" value="Investissement">Investissement <br>
            <input type="radio" name="typcredit" [(ngModel)]="this.typcredit" value="Spot">Spot <br>
            <input type="radio" name="typcredit" [(ngModel)]="this.typcredit" value="Engagement par signature (caution,...)">Engagement par signature (caution,...) <br>
            <input type="radio" name="typcredit" [(ngModel)]="this.typcredit" value="Avance sur marché/Avance sur facture/Avance sur bon de commande">Avance sur marché/Avance sur facture/Avance sur bon de commande  <br>
            <input type="radio" name="typcredit" [(ngModel)]="this.typcredit" value="autres">Autres
          </div>

          <div class="col-sm-6" style="border:1px solid black ; height: 28rem;">
            <h3 style="background-color: red ; color: white">DEMANDE DE CREDIT</h3>
            <div class="form-inline">
              <label>Montant Demandé (FCFA):</label>
              <input type="text"  [(ngModel)]="this.mntdemande" class="form-control" name="mntdemande">
              <label>Durée Demandée (MOIS):</label>
              <input type="text"  [(ngModel)]="this.dureedemande" class="form-control" name="dureedemande">
            </div>
          </div>
        </div>

        <div class="col-sm-12" style="padding-top: 2rem; border:1px solid black ; height: 70rem;">
          <h3 style="background-color: red ; color: white; margin-bottom:0px;">Documents nécessaires pour le dossier de crédit :</h3>
          <div class="col-sm-12">
            <div class="col-sm-12" style="background-color:#17a2b8; border: 1px solid white;">
              <div class="col-lg-7" style="color:white;"><h4>Contrat de location.</h4></div>
              <div class="col-lg-4" style="background-color:white; border: 1px solid #17a2b8; ">
                <div class="row">
                  <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg,.pdf,.docx,.doc">
                </div>
                <div class="row">
                  <span class="glyphicon glyphicon glyphicon-transfer"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="background-color:#17a2b8; border: 1px solid white;">
              <div class="col-lg-7" style="color:white;"><h4>Relevés wari, jony jony et autres produits pour les 06 derniers mois.</h4></div>
              <div class="col-lg-4" style="background-color:white; border: 1px solid #17a2b8; ">
                <div class="row">
                  <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg,.pdf,.docx,.doc">
                </div>
                <div class="row">
                  <span class="glyphicon glyphicon glyphicon-transfer"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="background-color:#17a2b8; border: 1px solid white;">
              <div class="col-lg-7" style="color:white;"><h4> Contrat de distribution avec BBS ou autres distributeurs.</h4></div>
              <div class="col-lg-4" style="background-color:white; border: 1px solid #17a2b8; ">
                <div class="row">
                  <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg,.pdf,.docx,.doc">
                </div>
                <div class="row">
                  <span class="glyphicon glyphicon glyphicon-transfer"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="background-color:#17a2b8; border: 1px solid white;">
              <div class="col-lg-7" style="color:white;"><h4>  Relevé de compte pour les 06 derniers mois.</h4></div>
              <div class="col-lg-4" style="background-color:white; border: 1px solid #17a2b8; ">
                <div class="row">
                  <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg,.pdf,.docx,.doc">
                </div>
                <div class="row">
                  <span class="glyphicon glyphicon glyphicon-transfer"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="background-color:#17a2b8; border: 1px solid white;">
              <div class="col-lg-7" style="color:white;"><h4>Caution morale justifiant d’une activité génératrice de revenus.</h4></div>
              <div class="col-lg-4" style="background-color:white; border: 1px solid #17a2b8; ">
                <div class="row">
                  <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg,.pdf,.docx,.doc">
                </div>
                <div class="row">
                  <span class="glyphicon glyphicon glyphicon-transfer"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="background-color:#17a2b8; border: 1px solid white;">
              <div class="col-lg-7" style="color:white;"><h4>Copie de sa Carte Nationale d’Identité.</h4></div>
              <div class="col-lg-4" style="background-color:white; border: 1px solid #17a2b8; ">
                <div class="row">
                  <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg,.pdf,.docx,.doc">
                </div>
                <div class="row">
                  <span class="glyphicon glyphicon glyphicon-transfer"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="background-color:#17a2b8; border: 1px solid white;">
              <div class="col-lg-7" style="color:white;"><h4>Certificat de domicile.</h4></div>
              <div class="col-lg-4" style="background-color:white; border: 1px solid #17a2b8; ">
                <div class="row">
                  <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg,.pdf,.docx,.doc">
                </div>
                <div class="row">
                  <span class="glyphicon glyphicon glyphicon-transfer"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="background-color:#17a2b8; border: 1px solid white;">
              <div class="col-lg-7" style="color:white;"><h4>Justificatif d’activité : Bulletins de salaire pour les salariés, factures ou relevé de compte pour les commerçants.</h4></div>
              <div class="col-lg-4" style="background-color:white; border: 1px solid #17a2b8; ">
                <div class="row">
                  <input type="file" (change)="fileChange($event)" placeholder="Uploader Image" accept=".png,.jpg,.pdf,.docx,.doc">
                </div>
                <div class="row">
                  <span class="glyphicon glyphicon glyphicon-transfer"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input class="btn btn-success" value="Envoyer Demande" type="button" type="submit" [disabled]="!registrationForm.form.valid"  />
      </form>
      <!-- .panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>

<div *ngIf="this.loading">
    <app-loader></app-loader>
</div>


