<div class="col-sm-12">
    <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
        <div class="panel-heading">
            
            <h2>Paiment Oolu Solar</h2>

        </div>
        <!-- /.panel-heading -->

		<div class="cover"></div>

        <div class="panel-body">-->
            <!-- Nav tabs -->
            
            <!-- Tab panes -->
            
            <div class="tab-pane fade col-lg-offset-3 col-sm-offset-3 col-xs-offset-3 col-sm-7 col-xs-7 col-lg-7 col-md-7 in " id="oolu-pills">
               <!-- <fieldset style="margin-top: 2rem;margin-bottom: 2rem;">
                    <h2> Paiement Oolu Solar</h2>
                </fieldset>-->
                <p *ngIf="etatsuccess" class="alert alert-success">paiment oolu solar reussi</p>
                <p *ngIf="etaterror" class="alert alert-danger">echec de l'operation</p>
                <form (ngSubmit)="payeroolusolar()" #payeroolusolarform="ngForm" autocomplete="on">
                  <div class="form-group row">
                    <label for="telephonerechargementespece" class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Téléphone </label>
                    <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                      <input type="number" [(ngModel)]="this.telephone"   name="telephone" id="telephonerechargementespece" class="form-control" placeholder="téléphone client" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="montantrechargementespece" class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">N° Compte</label>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <input type="string" [(ngModel)]="this.compte"   name="compte" id="compte" class="form-control" placeholder="Numéro Compte" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="montantrechargementespece" class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Montant à recharger</label>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <input type="number" [(ngModel)]="this.montant"   name="montant" id="montant" class="form-control" placeholder="montant à recharger" required>
                    </div>
                  </div>

                  <div class="row text-center">
                    <button type="submit" class="btn btn-success" [disabled]="!payeroolusolarform.form.valid">Valider</button>
                    <button type="reset" class="btn btn-danger" [disabled]="!payeroolusolarform.form.valid" >Annuler</button>
                  </div>
                </form>
            </div>
           
        </div>
    </div>
</div>
<div bsModal #modaloolu="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     
	<div class="modal-dialog modal-lg">
		<div class="modal-content" >
                <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodaloolu()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Informations Compteur Oolu</h4>
                </div>
                <div class="modal-body">
                       <div class="row">
                           <label class="col-lg-3 col-md-3 col-sm-3">telephone : {{this.telephone}}</label>
                           
                       </div>
                    
                   
                </div>
                <div class="modal-footer">
                    <input type="button" *ngIf="etat" value="valider"  class="btn btn-success" />
                    <input type="button" value="annuler" (click)="hidemodaloolu()" class="btn btn-danger" />
                </div>
        </div> 
    </div>  
</div>