
body {
    padding-top: 3rem !important;
}





.icon-bar{
    background-color : white !important;
    width: 100% ;
}

.pendingTask{
/*    padding-bottom: 0.5rem ;
    padding-top: 0.5rem ;
*/    padding-left: 0.2rem ;
    cursor: pointer;
}

body {
    padding-top: 3rem !important;
}

.sidebar-nav ul li {
    border-bottom: 2px solid #36A9E0;
}


.icon-bar{
    background-color : white !important;
    width: 100% ;
}

.loader {
    border: 4px solid white; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}

.nav li img{
    max-width: 3rem ;
    float: left ;
}


.pendingTask{
    margin-left: 0rem ;
    margin-right: -3rem ;
    background-color: #337ab7 ; 
    padding-left: 2rem ;
    color: white;
    border-radius: 2rem 0rem 2rem 2rem ;
    margin-top: 0.5rem ;
}

.pendingTask div{
    display: inline-block;
}

.pendingTask a{
    color : white;
}

.pendingTask a:hover{
    text-decoration: underline;
}

.terminated{
    height: 3rem ;
    width: 3rem ;
}

.sidebar-nav b{
    font-size: 1.8rem ;
 }



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



#page-wrapper{
    padding-top: 3rem; 
/*    margin-top:25px;
*/
}

#haut {
   padding-left: 35rem;
   background-color: #f8f8f8;
   width: 100%;
  border-color: #e7e7e7;
}

#haut li:first-child {
  /* margin-left: 35rem; */
}

#haut li {
   margin-left: 10rem;
    font-size: larger;
    text-transform: uppercase;

}

#haut a{
    min-width: 13rem ;
    text-align: center ;
}
#haut a:hover{
    background-color: #337ab7 !important ;
    color: white ;
}

#gauche {
    margin-bottom: 30rem;

}
#gauche li{
    margin-bottom: 15rem;
    font-size: larger;
}

#wrapper{
	background-color: transparent ;
	height: 100%;
}



#page-wrapper{
	height: 100%;
}

#navbHead{
	background-color: #337ab7 !important ;
    border-color: #0F70B7;
    color : white;
	width : 100%;
}

#navbHead a{
    background-color: #337ab7;
    border-color: #e7e7e7;
    color : white;
}
#navbHead a:hover{  
    background-color: #fff;
    border-color: #337ab7;
    color : #337ab7 !important ;
}

#side-menu a{
    background-color: #337ab7;
    border-color: #e7e7e7;
    color : white;
}

#side-menu a:hover{
    border-color: #36A9E0;
    color : #337ab7 !important ;
}

#leftsidemenu{
    margin-top: 5rem;
    height: 70rem;
/*    background:  url(/assets/bga.png)   ; */
    background-color: #337ab7 !important; 
}

#routeContainDisplayer{
    margin-top: 3rem ;
    text-align: -webkit-center ;
}

@media screen and (max-width:640px) {
 
 #leftsidemenu{
    height:100%;
 }
   
}


#page-wrapper{
    padding-top: 3rem; 
/*    margin-top:25px;
*/
}

#haut {
   padding-left: 35rem;
   background-color: #f8f8f8;
   width: 100%;
  border-color: #e7e7e7;
}

#haut li:first-child {
  /* margin-left: 35rem; */
}

#haut li {
   margin-left: 10rem;
    font-size: larger;
    text-transform: uppercase;

}

#haut a{
    min-width: 13rem ;
    text-align: center ;
}
#haut a:hover{
    background-color: #337ab7 !important ;
    color: white ;
}

#gauche {
    margin-bottom: 30rem;

}
#gauche li{
    margin-bottom: 15rem;
    font-size: larger;
}

#wrapper{
	background-color: transparent ;
	height: 100%;
}



#page-wrapper{
	height: 100%;
    border-style: hidden ;
}

#navbHead{
	background-color: #337ab7 !important ;
    border-color: #0F70B7;
    color : white;
	width : 100%;
}

#navbHead a{
    background-color: #337ab7;
    border-color: #e7e7e7;
    color : white;
}
#navbHead a:hover{  
    background-color: #fff;
    border-color: #337ab7;
    color : #337ab7 !important ;
}

#side-menu{
    border: 2px solid;
    border-color: #36A9E0;
    border-radius: 3rem 0rem 3rem 3rem;
    margin-right: -3rem ;
}

#side-menu a{
    background-color: transparent;
    border-color: #e7e7e7;
    color : #F39200;
    text-align: end ;
}

#side-menu a:hover{
    background-color: transparent;
    border-color: #337ab7;
    color : #337ab7 !important ;
}

#side-menu li{
    background-color: white ;
}

#side-menu li:first-child{
 border-radius: 3rem 0 0 0 ;
}

#side-menu li:last-child{
 background-color: transparent;
 border-radius: 0 0 3rem 3rem ;
}


#leftsidemenu{
    margin-top: 5rem;
/*    height: 70rem;*/
    padding-left: 1rem ;
/*    background:  url(/assets/bga.png)   ; */
    background-color: white !important; 
}

#mainrouteroutlet{
    margin-left: -4rem ;
}

#gauche a{
    background-color: transparent ;
}

/*#routeContainDisplayer{
    margin-top: -68rem ;
}*/

#encours{
    text-align: center ; 
    padding-top: 5.5rem ;
    margin-top: -6rem ;
}

#facturers{
    background-color: white !important;
    position: fixed;
    top: 8rem;
    z-index: 994;
    left: 78%;
    width: 22%;
}

#facturers img{
    height: 3rem;
    max-width: 7rem;
}

#horizontalcenter ul {
    list-style-type: none;
    position: relative;
    left: 24%;  
    background-color: #F39200;
}


#horizontalcenter {
    position: relative;
    z-index: -10 ;
    top: -2rem;
    left: 5rem;
}

#side-menuF{
    border: 2px solid;
    border-color: #36A9E0;
    border-radius: 3rem 0rem 3rem 3rem;
}

#horizontalcenter li {
    float: left;
}

#horizontalcenter li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#horizontalcenter ul{

    width: 42%;
    border: 2px solid #F39200;
    height: 7rem;
    padding-left: 1rem;
    border-radius: 2rem 0 2rem 2rem;
    overflow-x: overlay ;
}


@media screen and (max-width:640px) {
 
 #leftsidemenu{
    height:100%;
 }
   
}

    
@media only screen and (max-width: 400px) {
    #encours{
    position: relative;
    top: 84rem;
    }
    #routeContainDisplayer{
        margin-top: 2rem;
    }
    #om-options{
        width: max-content !important;
    }
}  



       
       
